<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyC0Rli8tKGTLtaN1bEv4J2bgCY_1N5lmlI</string>
	<key>GCM_SENDER_ID</key>
	<string>826405813464</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.pversCustomer</string>
	<key>PROJECT_ID</key>
	<string>pvre-1425a</string>
	<key>STORAGE_BUCKET</key>
	<string>pvre-1425a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:826405813464:ios:17b7d1873c342a2493ebad</string>
</dict>
</plist>